.footer {
  padding: 60px 0 60px;
  min-width: getThreshold("minimum");
  background-color: getColor("background-primary");
}

.footer-container {
  align-items: baseline;
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  color: getColor("text-tertiary");
  margin-bottom: 20px;
  &:visited {
    color: getColor("text-tertiary");
  }
}

.footer__heading-three {
  margin-bottom: 20px;
  color: getColor("text-tertiary");
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__input {
  width: 300px;
  height: 50px;
  background-color: getColor("background-primary");
  border: 1px solid #ffffff4d;
  color: #ffffff99;
  border-radius: 4px;
  padding: 15px 16px;
  outline: none;
  &:focus {
    border-color: getColor("company");
  }
}

.newsletter__icon {
  width: 20px;
  height: 20px;
  margin-left: 24px;
  fill: getColor("icon-secondary");
}

@media all and (min-width: getThreshold("mobile")) {
  .footer {
    min-width: getThreshold("mobile");
  }
  .newsletter__input {
    width: 450px;
  }
}

@media all and (max-width: (getThreshold("tablet")-1px)) {
  .footer__address {
    margin-bottom: 60px;
  }
  .footer__social-media {
    margin-bottom: 60px;
  }
  .newsletter__input {
    margin-bottom: 20px;
  }
}

@media all and (min-width: getThreshold("tablet")) {
  .footer {
    min-width: getThreshold("tablet");
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media all and (min-width: getThreshold("tablet")) and (max-width: (getThreshold("desktop") - 1px)) {
  .footer__box {
    &:first-child {
      margin-bottom: 60px;
    }
  }
}

@media all and (max-width: (getThreshold("desktop") - 1px)) {
  .footer__box {
    align-items: center;
  }
  .newsletter__input {
    margin-bottom: 20px;
  }
}

@media all and (min-width: getThreshold("desktop")) {
  .footer {
    min-width: getThreshold("desktop");
  }
  .footer__box {
    & + & {
      margin-left: 70px;
    }
  }
  .newsletter {
    flex-direction: row;
  }
  .newsletter__input {
    width: 358px;
    margin-right: 12px;
  }
}
