.logo {
  font-family: getFont("secondary");
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: getColor("logo-secondary");
  &:visited {
    color: getColor("logo-secondary");
  }
}

.logo__first-word {
  color: getColor("company");
}

@media all and (min-width: getThreshold("desktop")) {
  .logo {
    font-size: 26px;
    line-height: 1.385;
  }
}
