.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  transition: opacity 250ms linear;
  opacity: 1;
  justify-content: center;
  align-items: center;

  &--is-hidden {
    pointer-events: none;
    opacity: 0;
  }
}

.modal {
  width: 528px;
  height: 581px;
  background-color: getColor("background-base");
  border-radius: 4px;
  position: relative;
  padding: 40px;
}

.exit-button {
  width: 30px;
  height: 30px;
  background-color: getColor("background-base");
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-transform: uppercase;

  &:hover,
  &:focus {
    box-shadow: inset 0px 0px 0px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

.modal__exit-button {
  right: 8px;
  top: 8px;
  position: absolute;
}

.purchase-form__heading {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.label {
  color: getColor("text-secondary");
  font-size: 12px;
  line-height: 1.17;
  &:focus-within {
    color: getColor("company");
  }
}

.purchase-form__label {
  & + & {
    margin-top: 10px;
    display: block;
  }
}

%active-input {
  border-color: getColor("company");
  fill: getColor("company");
  outline: 0;
}

.input-box {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  fill: getColor("text-primary");
  cursor: text;
  display: flex;
  align-items: center;
  padding: 11px 12px 11px 12px;
  &:focus-within {
    @extend %active-input;
  }
}

.purchase-form__input-box {
  margin-top: 4px;
  width: 100%;
}

.purchase-form__icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  &:focus {
    @extend %active-input;
  }
}

.purchase-form__textarea {
  width: 100%;
  margin-top: 4px;
  display: block;
}

.input-box__input {
  border: 0;
  outline: 0;
  width: 100%;
}

.purchase-form__terms-label {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: getColor("text-secondary");
}

.checkbox {
  display: none;
}

.checkbox-icon {
  height: 15px;
  width: 16px;
}

.purchase-form__checkbox-icon {
  margin-right: 8px;
}

.check-icon,
.checkbox:checked ~ .uncheck-icon {
  display: none;
}

.checkbox:checked ~ .check-icon {
  display: inline;
}

.purchase-form__terms-link {
  color: getColor("company");

  &:visited {
    color: getColor("company");
  }

  &:focus,
  &:hover {
    color: getColor("terms-link");
  }
}

.purchase-form__button-container {
  display: flex;
  justify-content: center;
}
