.filter-buttons {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 0;
}

.filter-buttons__list-item {
  margin: 0 8px 0 0;
  &:last-child {
    margin-right: 0;
  }
}

.projects__project {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 30px 0 0;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
    cursor: pointer;
    .projects__long-description {
      transform: translateY(0px);
    }
  }
  &:nth-child(1) {
    margin-top: 0;
  }
}

.projects__image {
  width: 290px;
  height: 294px;
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
}

.projects__caption {
  padding: 20px 24px;
  border-right: 1px solid getColor("project-border");
  border-left: 1px solid getColor("project-border");
  border-bottom: 1px solid getColor("project-border");
}

.projects__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects__short-description {
  line-height: 1.88;
  color: getColor("text-secondary");
}

.projects__long-description-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.projects__long-description {
  width: 290px;
  height: 294px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: getColor("company");
  padding: 49px 45px 49px 24px;
  transition: transform 250ms linear;
  transform: translateY(101%);
  opacity: 0.95;
  color: getColor("text-tertiary");
}

@media all and (max-width: (getThreshold("mobile") - 1px)) {
  .filter-buttons__list-item {
    &:nth-child(1),
    &:nth-child(4) {
      width: 82px;
    }
    &:nth-child(2),
    &:nth-child(5) {
      width: 88px;
    }
    &:nth-child(3) {
      width: 96px;
    }
  }
}

@media all and (min-width: getThreshold(mobile)) {
  .projects__image {
    width: 450px;
    height: 294px;
  }
  .projects__long-description {
    width: 450px;
  }
}

@media all and (max-width: (getThreshold("tablet") - 1px)) {
  .filter-buttons__list-item {
    &:nth-child(-n + 3) {
      margin-bottom: 21px;
    }
  }
}

@media all and (min-width: getThreshold("tablet")) {
  .filter-buttons {
    justify-content: center;
    margin-bottom: 30px;
  }

  .projects__project {
    &:nth-child(-n + 2) {
      margin-top: 0;
    }
  }
  .projects__image {
    width: 354px;
    height: 294px;
  }
  .projects__long-description {
    width: 354px;
  }
}

@media all and (min-width: getThreshold(mobile)) and (max-width: (getThreshold("desktop") - 1px)) {
  .filter-buttons__list-item {
    &:nth-child(1),
    &:nth-child(4) {
      width: 103px;
    }
    &:nth-child(2),
    &:nth-child(5) {
      width: 130px;
    }
    &:nth-child(3) {
      width: 145px;
    }
  }
}

@media all and (max-width: (getThreshold("desktop") - 1px)) {
  .filter-buttons__button-secondary {
    padding: 6px 0;
    width: 100%;
  }
}

@media all and (min-width: getThreshold("desktop")) {
  .filter-buttons {
    margin-bottom: 50px;
  }
  .projects__project {
    &:nth-child(-n + 3) {
      margin-top: 0;
    }
  }
  .projects__image {
    width: 370px;
    height: 294px;
  }
  .projects__long-description {
    width: 370px;
  }
}
